* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: block;
}

main .page {
  min-height: 37.5 rem;
  max-width: 100%;
  overflow: hidden;
}

.page-section {
  position: relative;
  padding: 0;
}

/* FIRST SECTION */

.first-section {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
  grid-gap: 2rem;
  justify-content: center;
}

